{% extends 'base.html'  %}
{% block title%} Register {% endblock%}

{% block content %}

<h1>User Details</h1>


<ul>
    <li>Username: {{ user.username }}</li>
    <li>Email: {{ user.email }}</li>
    <li>First Name: {{ user.first_name }}</li>
    <li>Last Name: {{ user.last_name }}</li>
   
</ul>

<ul>
 {% for feedback in user.feedback%}

    <li>
      {{ feedback.title }}
      <small>{{ feedback.content }}</small>
      <!-- <button class="btn btn-sm btn-danger"><i class="fas fa-trash"></i></button> -->

    </li>

    <form>
        {{form.hidden_tag()}}
        <button class="btn btn-primary"
                formmethod ="GET"
                formaction="/feedback/{{feedback.id}}/update">Edit</button>
                
        <button class="btn btn-danger"
                formmethod ="POST"
                formaction="/feedback/{{feedback.id}}/delete">Delete</button>
    </form>


   
</ul> 
{% endfor%}


<div>
    <a href="/users/{{ user.username }}/feedback/new">Add Feedback!</a> 
</div>

<form>
    <button class="btn btn-danger btn-sm"
            formaction="/users/{{user.username}}/delete"
            formmethod="POST">Delete User</button>
</form>


{% endblock%}

<!--render FeedbackForm here  
<!--If there is no feedback to show, put something like "no feedback yet"  --




